.workout {
	text-align: center;
	h3 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}
	& > a {
		font-size: 1.1rem;
		text-decoration: underline;
	}
	.content {
		h2 {
			text-align: center;
			margin-bottom: 1rem;
			font-size: 1.6rem;
		}
		table {
			border-collapse: collapse;
			margin-bottom: 3rem;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

			thead {
				tr {
					background-color: #234;
					color: #fefefe;
					font-size: 1.1rem;
					text-align: left;

					th {
						padding: 0.75rem 1rem;

						&:first-child {
							border-top-left-radius: 0.5rem;
						}
						&:last-child {
							border-top-right-radius: 0.5rem;
						}
					}
				}
			}
			tbody {
				tr {
					border-bottom: 1px solid #dddddd;

					&:nth-of-type(even) {
						background-color: #f3f3f3;
					}

					&:last-of-type {
						border-bottom: 2px solid #234;
					}

					&:hover {
						font-weight: bold;
						color: #234;
					}

					td {
						padding: 0.5rem 0.75rem;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
	.workout-loader {
		.skeleton {
			position: relative;
			overflow: hidden;
		}
		.skeleton::before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, #ddd, #e3e3e3, #ddd);
			transform: translateX(-100%);
			animation: loading 1s infinite;

			@keyframes loading {
				to {
					transform: translateX(100%);
				}
			}
		}
		.title {
			margin-bottom: 1rem;
			width: 200px;
			height: 30px;
			background-color: #ddd;
			margin: 0 auto;
			margin-bottom: 1rem;
		}
		table {
			border-collapse: collapse;
			margin-bottom: 3rem;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

			thead {
				tr {
					background-color: #234;
					color: #fefefe;
					font-size: 1.1rem;
					text-align: left;

					th {
						padding: 0.75rem 1rem;

						&:first-child {
							border-top-left-radius: 0.5rem;
						}
						&:last-child {
							border-top-right-radius: 0.5rem;
						}
					}
				}
			}
			tbody {
				tr {
					border-bottom: 1px solid #dddddd;

					&:nth-of-type(even) {
						background-color: #f3f3f3;
					}

					&:last-of-type {
						border-bottom: 2px solid #234;
					}

					&:hover {
						font-weight: bold;
						color: #234;
					}

					td {
						padding: 0.5rem 0.75rem;
						.skeleton {
							background-color: #ddd;
							height: 25px;
						}
					}
				}
			}
		}
	}
}
